{% extends "meditation_layout.html" %}

{% block main %}
<script>
    document.getElementById("paragraph").style.backgroundColor = "white";
</script>
<p id="paragraph">
    Steps For Beginning Meditation:
    <br>
STEP 1
Find a comfortable place to sit, and a posture that is both alert and relaxed at the same time. See if you can make the spine erect, without being too rigid.
<br>
STEP 2
Close your eyes (or leave them slightly open if you prefer), and take a few slow breaths. Take a few moments to loosen your body from your head to your toes, and take a few more deep breaths. 
<br>
STEP 3
Stop to notice the sensations throughout your body — the warmth, the coolness or any discomfort. Be aware of them, but try not to fidget too much.
<br>
STEP 4
Pick one sensation — such as the feeling of your breath going in and out — and devote your attention to it. Just focus on that.
<br>
STEP 5
When your mind wanders, bring your attention back to the breath. After a few moments, your mind may wander again. Once again, notice that and simply return your attention back to the present moment.
<br>
STEP 6
When you’re ready — after one minute, 10 minutes or 30 minutes — open your eyes. Though your formal meditation practice may have ended, your mindful awareness can continue throughout the day.
<br>
source: https://www.nytimes.com/guides/well/how-to-meditate
</p>

<!--video-->
<div>
<h2>Beginning Meditation Video:</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/U9YKY7fdwyg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{% endblock %}

